body {
    background: #000;
}
#main {
    max-width: 1170px;
    margin: 0 auto;
}
header {
    text-align: center;
    margin-top: 30px;
}
header img {
    max-width: 450px;
}
#all_logos {
    margin-top: 20px;
    width: 100%;
}
.logos  {
    width: 33%;
    float: left;
    text-align: center;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.logos img {
    max-width: 270px;
}
#main_texts {
    margin-top: 50px;
}
@media(max-width: 425px) {
    header img {
        max-width: 280px;
    }
    .logos {
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 70px;
    }
    .logos img {
        max-width: 190px;
    }
}

@media(max-width: 768px) {
    .logos img {
        max-width: 190px;
    }
}

